.signIn{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

/* -------------------------------------- */
/*                  Form                  */
/* -------------------------------------- */
form h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 15px;
}

form .otherjoin{
    font-size: 18px;
    color: #6b6b6b;
}
form .forgotPass{
    cursor: pointer;
}
form input{
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 50px;
    border: 1px solid #b3b3b3;
    text-align: center;
    outline: none;
}
form input:focus{
    border: 2px solid #eb4a36;
}
form input::placeholder{
    color: #b3b3b3;
}

/* -------------------------------------- */
/*                  Sec 2                 */
/* -------------------------------------- */
.sec2-signin{
    width: 100%;
    height: 600px;
    position: relative;
}
.img-signin{
    height: 100%;
    width: 100%;
    background: url('../../assets/photo-1556911220-e15b29be8c8f.jpeg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 20px;
    object-fit: cover;
}
.sec2-signin .text-on-img{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 2rem;
    gap: 0.7rem;
}
.sec2-signin .text-on-img p{
    color: white;
}
.sec2-signin .text-on-img button{
    background-color: white;
}
.sec2-signin .text-on-img button:hover{
    box-shadow: 2px 2px 3px #aaa;
}
.sec2-signin .text-on-img button a{
    color: #4b4b4b;
}
